<%= form_for(@miscellaneous_ability) do |f| %>
  <% if @miscellaneous_ability.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@miscellaneous_ability.errors.count, "error") %> prohibited this miscellaneous_ability from being saved:</h2>

      <ul>
      <% @miscellaneous_ability.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
