<div class="custom-ym-wrapper">
  <div class="ym-wbox">   
    <main>
      <div class="ym-column linearize-level-1">
        <div class="ym-col1">
          <div class="ym-cbox">
            <section class="box info">
              <h2>About H. Leroy Brown</h2>
              <p><img src="assets/hLb.png" style="float: right; margin: 0 0 20px 20px;">I've been developing websites for more than 15 years... and I've built-up a serious toolbox of skills. I prefer coding over design work; design is  subjective... but when coding, you know it's done correctly if it works flawlessly and error-free.</p>
              <p>My skills have been greatly enhanced through the experience of working as a Rails Developer for a New York-based firm and all the great training that company provided, including being personally tutored daily by their vice president of technology. Although my bachelors degree is in psychology, I believe the most important thing you can learn in college is how to learn.</p>
              <p>Most of my work is done in <a href="http://www.ruby-lang.org/" target="_blank">Ruby</a>, <a href="http://rubyonrails.org/" target="_blank">Rails</a>, <a href="http://sass-lang.com/" target="_blank">Sass</a>, and <a href="https://wordpress.org/" target="_blank">Wordpress</a>. I&rsquo;m a huge fan of WordPress with its awesome variety of well-developed plug-ins. But sometimes a plug-in just won't do, and clients need a custom application. Ruby on Rails is unbeatable when it comes to rapid web application development. </p>
              <p>Not everbody has the potential to be a great programmer. The thing you can't learn from books is having a clear, logical mind... a mathematically precise train of thought... which I believe is fundamental to writing flexible, sustainable, atomic code.</p>
              <p>Sure, I could have created this website using WordPress... but I chose to use Ruby on Rails to demonstrate my skills in hand-coding. All of the pages with job info, skills and even the charts... are populated from a Postgres database. I would be glad to share my Git repository with you, so that you can take a look at my code. And I will be happy to provide references for all of the jobs on my resume upon request.</p>
            </section>
            <section class="ym-grid linearize-level-2">
              <h3>This is My Train</a>
                <iframe width="460" height="280" src="https://www.youtube.com/embed/biz4Fhmf-jk?rel=0" frameborder="0" allowfullscreen></iframe>
            </section>
          </div>
        </div>
        <aside class="ym-col3">
          <h2>A few of my favorite things</h2>
            <article class="ym-gl">
              <div class="ym-gbox">
                <!-- content -->
                <h3>I like painting.</h3>
                <p>I love the smell of oil paints... it's kinda nostalgic. I'm no good at painting... but it's fun and relaxing. I'm definitely no Picasso or Monet... I make stupid pictures; If I can make someone laugh with a painting, then my purpose is served. </p>
              </div>
            </article>
            <article class="ym-gr">
              <div class="ym-gbox">
                <!-- content -->
                <h3>Trains are fun.</h3>
                <p>Obviously, I like dinosaurs... which you can probably tell by the name of my company, T-Rex Designs. My New Years' resolution for 2015 is to create a miniature Jurassic Park with a train running around it. I'm off to a good start so far. At least I made a resolution this year that won't be forgotten.</p>
              </div>
            </article>
          </section>
          <section class="ym-grid linearize-level-2">
            <article class="ym-gl">
              <div class="ym-gbox">
                <!-- content -->
                <h3>My Buddy and me.</h3>
                <p>I have a Labrador/Pit Bull mix named Buddy. Well, I'm not completely sure of his breed because I adopted him from the animal shelter. But based on his appearance and temperament, I'm pretty sure of his lineage. His name is Buddy Bongo Brown. Our first few months together were difficult; he was a lot more work than I expected.  But now that he understands English, we get along great. </p>
              </div>
            </article>
            <article class="ym-gr">
              <div class="ym-gbox">
                <!-- content -->
                <h3>Last but not least, My Family.</h3>
                <p>I was so lucky to be born into an old-fashioned, Christian family like mine. I'm not very religious but I think my upbringing instilled a strong sense of morality that guides me every day of my life. My parents have been married for 62 years and provide a solid foundation for our family and a great example of commitment and stability. </p>
              </div>
            </article>
        </aside>
      </div>
    </main>   
  </div>
</div>


